
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.navArea{
    position: fixed;
    top: 0;
    width: 100%;  
    background-color: white;
}
.navDiv{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 100px;


}
.logoH2{
color: red;
font-size: 30px;
}
.navLinkGroup{
display: flex;
}
.navLi{
list-style: none;

}
.navLink{
text-decoration: none;
padding: 5px 15px;
margin: 5px;
color: rgb(34, 34, 34);
font-size: 18px;
}
.navLink:hover{
    color: red;
}
.service_section{
    margin-top: 100px;
}
.service_header{
text-align: center;
text-transform: uppercase;
font-size: 30px;
letter-spacing: 2px;
margin: 10px 0;

}
.service_banner{
display: flex;
justify-content: center;
align-items: center;
}
.line{
width: 50px;
height: 5px;
background-color: red;
margin: 5px;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.service_descriptions{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 10px 0;
font-size: 18px;
}
.description_text{
text-transform: capitalize;
margin: 10px 0;
text-align: center;
}
.service_cards_holder{
width: 100%;
display: flex;
flex-wrap: wrap;
}
.service_card{
width: 33.33%;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.service_card_image{
width: 150px;
height: 100px;
}
.service_card_title{

}
.service_card_description{

text-align: center;
font-size: 18px;
}